<ion-view view-title="Data Query">
  <div class="bar bar-header bar-calm">
    <!-- <button class="button button-icon icon ion-ios-minus-outline" ng-click="showDelete = !showDelete"></button> -->
    <h1 class="title">Data Query</h1>
  </div>
  <ion-content class="padding has-header">
    <ion-refresher pulling-text="Pull to Refresh ..." on-refresh="doRefresh()"></ion-refresher>
    <ion-list can-swipe="false" show-delete="showDelete">
      <ion-item ng-repeat="location in objectsInQuery" class="item-remove-animate" style="font-size: small;">
        Key:
        {{location.$id}}
        <br>
        Location:
        {{location.l[0]}},
        {{location.l[1]}}

        <!-- Toggled Delete Button -->
        <ion-delete-button class="ion-minus-circled" ng-click="deleteEntry(location)"></ion-delete-button>

        <!-- Swiped Delete Button -->
        <ion-option-button class="button-assertive ion-minus-circled" ng-click="deleteEntry(location)"></ion-option-button>
      </ion-item>
    </ion-list>
    <button class="button button-block button-energized" ng-click="resetData()" ng-disabled="disableResetButton">
      Reset GPS Data
    </button>
  </ion-content>
</ion-view>
