<ion-tabs class="tabs-icon-top tabs-positive">
  <!-- Init Tab -->
  <ion-tab title="Init" icon="ion-gear-a" href="#/tab/init">
    <ion-nav-view name="tab-init"></ion-nav-view>
  </ion-tab>

  <!-- Data Query Tab -->
  <!-- <ion-tab title="Data Query" icon="ion-stats-bars" href="#/tab/query">
    <ion-nav-view name="tab-query"></ion-nav-view>
  </ion-tab> -->

  <!-- Map Tab -->
  <ion-tab title="Map Query" icon="ion-map" href="#/tab/map">
    <ion-nav-view name="tab-map"></ion-nav-view>
  </ion-tab>
</ion-tabs>
